<div class="btn-group btn-group-toggle heightWidthMax" data-toggle="buttons">
    <label class="btn btn-primary heightWidthMax active">
        <input type="checkbox" checked="" autocomplete="off"> Shift
    </label>
    <label class="btn btn-primary heightWidthMax">
        <input type="checkbox" autocomplete="off"> Day
    </label>
    <label class="btn btn-primary heightWidthMax">
        <input type="checkbox" autocomplete="off"> Month
    </label>
    <label class="btn btn-primary heightWidthMax">
        <input type="checkbox" autocomplete="off"> Year
    </label>
</div>
