@*<div class="btn-group btn-group-toggle heightWidthMax" data-toggle="buttons">
    <label class="btn btn-primary heightWidthMax active">
        <input type="checkbox" checked="" autocomplete="off"> Shift
    </label>
    <label class="btn btn-primary heightWidthMax">
        <input type="checkbox" autocomplete="off"> Day
    </label>
    <label class="btn btn-primary heightWidthMax">
        <input type="checkbox" autocomplete="off"> Month
    </label>
    <label class="btn btn-primary heightWidthMax">
        <input type="checkbox" autocomplete="off"> Year
    </label>
</div>*@


<div class="btn-group btn-group-toggle" data-toggle="buttons">
    <label class="btn btn-primary active">
        <input type="radio" name="shift" id="option1" autocomplete="off" checked=""> Shift
    </label>
    <label class="btn btn-primary">
        <input type="radio" name="Day" id="option2" autocomplete="off"> Day
    </label>
    <label class="btn btn-primary ">
        <input type="radio" name="Month" id="option3" autocomplete="off"> Month
    </label>
    <label class="btn btn-primary">
        <input type="radio" name="Year" id="option4" autocomplete="off"> Year
    </label>
</div>
