@model IEnumerable<MMi_BIS_PA.Models.TableData>
<style>
    .bg-success {
        color: #FFFFFF;
        font-weight: bold;
        text-align: center;
    }

    .fail {
        color: #FFFFFF;
        background-color: #F53B3B;
        font-weight: bold;
        text-align: center;
    }
</style>

<div class="container-fluid">
    <div class="card shadow mb-3" style="width: 100%; height:70%">
        <div class="card-header" style="background-color:#004883; height:50px">
            <div style="float:left; font-weight:bold; color:#fff">Time:</div>
        </div>
        <div class="card-body">
            <div class="container-fluid">
                <div class="row" style="height:100%">
                    <div class="col-8" style="height:100%;">

                        <table class="table table-hover">
                            <thead>
                                <tr>
                                    <th scope="col">QR Code</th>
                                    <th scope="col">Circlip 1</th>
                                    <th scope="col">Circlip 2</th>
                                    <th scope="col">Ring</th>
                                    <th scope="col">Weight</th>
                                </tr>
                            </thead>
                            <tbody>

                                
                                @foreach (var data in Model)
                                {
                                    <tr>
                                        <th>@data.qrcode</th>
                                        @if (data.c1 == 1)
                                        {
                                            <td>PRESENT</td>
                                        }
                                        else
                                        {
                                            <td class="fail">Missing</td>
                                        }

                                        @if (data.c2 == 1)
                                        {
                                            <td>PRESENT</td>
                                        }
                                        else
                                        {
                                            <td class="fail">Missing</td>
                                        }

                                        @if (data.r == 1)
                                        {
                                            <td>PRESENT</td>
                                        }
                                        else
                                        {
                                            <td class="fail">Missing</td>
                                        }
                                        <td>@data.w</td><!-- F53B3B-->
                                    </tr>

                                }


                            </tbody>
                        </table>

                    </div>
                    <div class="col-4" style="height:100%; background-color:"></div>
                </div>
            </div>
        </div>
    </div>
</div>

