<script src="~/Scripts/jquery-1.10.2.min.js"></script>

<script>
  var urlBase='@Url.Action("CurrentDataPage");
  $('.submit').click(function() {
    var userName = $(this).prev('input').val();
    location.href = urlBase + '/' + Qrcode;
  }
</script>

<div class="container-fluid">

    <div class="row" style="width:100%;height:30%">

    </div>

    <div class="row" style="height:40%;">
        
        <div class="col-10">
            <input type="text" name="qrcode">
        </div>

        <div class="col-2"></div>
    </div>
    
    <div class="row" style="width:100%;height:30%"></div>

</div>




