@using MMi_BIS_PA.Models

@{

    var data = ViewBag.TotalCurrentShiftJobDone;
}


<div style="float:left; padding:12px 20px 12px 20px; font-weight:bold; color:#fff; height:100%; width:25%;">Current Shift Set Count : <span id="SetCount"></span></div>
