@using MMi_BIS_PA.Models

@{

    var data = ViewBag.TotalCurrentShiftJobDone;
}


@*<div style="float:left; padding:12px 20px 12px 20px; font-weight:bold; color:#fff; height:100%; width:25%;">Total : <span id="SetCount"></span></div>*@
<div class="col" style="padding: 12px 20px 12px 20px; float:left; text-align:center; font-weight :bold; color:#fff; height:100%; ">Total Production Qty. : <span id="SetCount"></span></div>
<div class="col" style="padding: 12px 20px 12px 20px; float:left; text-align:center; font-weight :bold; color:#fff; height:100%; ">Accepted : <span id="Accepted"></span></div>
<div class="col" style="padding: 12px 20px 12px 20px; float:left; text-align:center; font-weight :bold; color:#fff; height:100%; ">Rejected : <span id="Rejected"></span></div>
@*<div class="col" style="padding: 12px 20px 12px 20px; float:left; text-align:center; font-weight :bold; color:#fff; height:100%; ">@Html.Partial("_totalCurrentJobCount")</div>*@
