
@model MMi_BIS_PA.Models.LoginData
@{
    ViewBag.Title = "CurrentDataPage";
    Layout = "~/Views/Shared/_Layout.cshtml";

}

<script src="~/Scripts/jquery-3.4.1.min.js"></script>
<script>
   
    function updateTbl() {
        //alert("inside function")
        window.setInterval(function () {
            $('#barcode').load("/CurrentDataPage/UpdateBarcode");
            $('#dataCard').load("/CurrentDataPage/UpdateTable");
            //$('#jobCount').load("/CurrentDataPage/UpdateTotalCurrentShiftJobCount");
            $.post("/CurrentDataPage/UpdateTotalCurrentShiftJobCount")
                .done(function (data) {
                    //alert(data["clip1"])
                    $('#SetCount').html('');
                    $('#SetCount').append(data["CurrentShiftTotalJobCount"]);
                    //console.log("count:")
                    //console.log(data["CurrentShiftTotalJobCount"])
                }
                );
                
         
            updateChart();         
        }, 1500);
    }

    function myFunction() {

    }

    $(document).ready(function () {
        //alert("executed")
        updateTbl();
    });



</script>

<div class="container-fluid overflow-auto" style="height:100%">
    <div class="row">

        @Html.Partial("~/Views/Shared/_NavBar.cshtml")
    </div>
    <div class="row" style="height:inherit">
        <div class="col-1" style="padding-left: 0px;">

        </div>

        <div class="col-10">
            <div class="container-fluid" style="height:100%">
                <div class="row" style="height:150px">
                    <div class="col-3">

                    </div>

                    <div id="barcode" class="col-6 align-content-center" style="text-align:center">

                        @{ Html.RenderAction("UpdateBarcode");}


                    </div>
                    <div class="col-3"></div>

                </div>

                <div  class="row" style="height:85%">
                    @Html.Partial("_DataCard")
                </div>

                <div class="row" style="height:50px;"></div>
                
            </div>
        </div>

        <div class="col-1"></div>

    </div>
</div>




